build
*.mode1v3
*.mode2v3
*.pbxuser
*.perspectivev3
*~.nib
.gitattributes
.vs
.DS_Store
log/
_RUNTIME_/log/
_RUNTIME_/Documents/deploy/
DEADJOE
UserInterfaceState.xcuserstate
*.so
*.a
*.ncb
platform/MacOS/MTEngineSDL.xcodeproj/project.xcworkspace/xcuserdata/mars.xcuserdatad/xcdebugger/
platform/MacOS/MTEngineSDL.xcodeproj/project.xcworkspace/xcshareddata/
platform/MacOS/MTEngineSDL.xcodeproj/project.xcworkspace/xcshareddata/MTEngineSDL.xccheckout
platform/MacOS/build
platform/MacOS/MTEngineSDL/.idea/
platform/Windows/.vs/
platform/Windows/bin/
platform/Windows/MTEngineSDL/x64/
platform/Windows/MTEngineSDL/Win32/
tools/DeployMaker_v1.0/Debug/
bmfont2slrfont/Debug/
Debug/
core.*
core
*~
!src/Engine/Core/
!src/Engine/Core/*
!src/Engine/Core/**/*
!other/lib/SDL2-2.0.10-static/src/core/
/Release/
other/lib/SDL2-2.0.10-static/VisualC/Win32/
other/lib/SDL2-2.0.10-static/VisualC/x64/
other/lib/SDL2-2.0.10-static/VisualC/SDL/Win32/
other/lib/SDL2-2.0.10-static/VisualC/SDL/x64/
other/lib/SDL2-2.0.10-static/VisualC/SDLmain/Win32/
other/lib/SDL2-2.0.10-static/VisualC/SDLmain/x64/
