<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0017957410741F7900F5D044</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>00179595107421BF00F5D044</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0017970910742F3200F5D044</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>00179730107430D600F5D044</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>00179756107431B300F5D044</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>00179776107432AE00F5D044</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>001797961074334C00F5D044</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>001797B8107433C600F5D044</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>001797FA1074355200F5D044</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>001798781074392D00F5D044</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0017989D107439DF00F5D044</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>001798DA10743BEC00F5D044</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>001798FE10743F1000F5D044</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0017992010743FB700F5D044</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>002F340109CA1BFF00EBEB88</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>002F342009CA1F0300EBEB88</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>002F343C09CA1FB300EBEB88</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>002F345909CA204F00EBEB88</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4537749112091504002F0F45</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BBFC08B7164C6862003E6A99</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BEC566920761D90300A33029</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BEC566AB0761D90300A33029</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BEC566C50761D90300A33029</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BEC566FB0761D90300A33029</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BEC567230761D90400A33029</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BEC567300761D90400A33029</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BEC5673D0761D90400A33029</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BEC5674A0761D90400A33029</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BEC567720761D90500A33029</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BEC5678D0761D90500A33029</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BEC567A70761D90500A33029</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BEC567EA0761D90600A33029</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DB0F48D917CA51E5008798C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DB0F48EF17CA5212008798C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DB166D7E16A1D12400A1396C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DB166DAD16A1D2F600A1396C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DB166DC416A1D36A00A1396C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DB166DDC16A1D50C00A1396C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DB166DF316A1D57C00A1396C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DB166E0A16A1D5AD00A1396C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DB166E2716A1D64D00A1396C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DB166E3D16A1D69000A1396C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DB166E5716A1D6F300A1396C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DB166E6D16A1D78400A1396C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DB166E8016A1D78C00A1396C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DB445EE618184B7000B306B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DB89956D18A19ABA0092407C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DBEC54D91A1A81C3005B1EAB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
